<ul class="nav navbar-nav navbar-right">
    <li><a href="@routes.Application.index()">Home</a></li>
    <li><a href="@routes.Application.game()">Play now</a></li>
    <li class="active"><a href="/user/sign-up">Signup</a></li>
    <li><a href="/user/sign-in">Login</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Explore<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="#">Contact us</a></li>
            <li class="divider"></li>
            <li><a href="#">Further Actions</a></li>
        </ul>
    </li>
</ul>