@(userForm: Form[User])(implicit flash: Flash, messages: Messages)

@import views.html.helper.FieldConstructor

@implicitField = @{
    FieldConstructor(helpers.twitterBootstrapFieldConstructorTemplate.f)
}

<form id="myForm" method="post" action="@routes.UserController.newUser()" class="bs-example form-horizontal">
    <fieldset>
        <legend>Signup Form</legend>
        @if(flash.data.contains("success")) {
            <div class="success">
            @flash.get("success")
            </div>
        }
        @if(userForm.hasGlobalErrors) {
            <ul class="error">
            @for( error <- userForm.globalErrors) {
                <li>@error.message</li>
            }
            </ul>
        }
        @helper.inputText(userForm("email"))
        @helper.inputText(userForm("name"))
        @helper.inputPassword(userForm("password"))

        <div class="col-lg-9 col-lg-offset-3">
            <button class="btn btn-default">Cancel</button>
            <button class="btn btn-primary">Submit</button>
        </div>
    </fieldset>
</form>